// vendor-prefix ?= webkit moz official
// support-for-ie ?= true

.task
    display inline-block
    margin 25px
    padding 15px
    border 2px solid #888
    width 300px
    height 200px
    -webkit-transition all .3s ease-in
    -moz-transition all .3s ease-in
    -ms-transition all .3s ease-in
    -o-transition all .3s ease-in
    transition all .3s ease-in

    &:hover
        border 2px solid #1abc9c
        cursor pointer

// .new-task-label
//     text-align center
//     padding 10px