// vendor-prefix ?= webkit moz official
// support-for-ie ?= true

// @import 'nib'
// @import 'rupture'

// normalize-html5()

// *
//     -webkit-box-sizing border-box
//     -moz-box-sizing border-box
//     box-sizing border-box

// .container
//     padding-right 15px
//     padding-left 15px
//     margin-right auto
//     margin-left auto

// .task-form
//     margin-right auto
//     margin-left auto
//     width 100vh

// form
//     display table

//     input,
//     textarea
//         width 100%
//         display table-cell
//         margin 10px

// input, textarea
//     padding 9px
//     border solid 1px #E5E5E5
//     outline 0
//     font normal 13px/100% 'Lato', Verdana, Tahoma, sans-serif
//     width 200px
//     background #FFFFFF

// textarea
//     max-height 150px
//     line-height 150%

// input:hover, textarea:hover,
// input:focus, textarea:focus
//     border-color #C9C9C9

// form label
//     margin-left 10px
//     color #999999

// .submit input
//     width auto
//     padding 9px 15px
//     background #617798
//     border 0
//     font-size 14px
//     color #fff