support-for-ie ?= true

@import 'nib'
@import 'rupture'

normalize-html5()

.truncate
    // width 250px
    // height 300px
    // white-space nowrap
    overflow hidden
    text-overflow-multiline ellipsis

.truncate-header
    width 100px
    white-space nowrap
    align-self safe center
    text-overflow-multiline ellipsis

.task-desk
    margin-left -4%

.nav
    float right

    a
        padding 0 10px
