support-for-ie ?= true

@import 'nib'
@import 'rupture'

.truncate
    overflow hidden
    text-overflow-multiline ellipsis

.truncate-header
    width 100px
    white-space nowrap
    align-self safe center
    text-overflow-multiline ellipsis

.task-desk
    margin-left -4%

.nav
    float right

    a
        padding 0 10px

.pull-down-nav-links
    margin-top 9%
    padding 0 10px

.pull-down-nav-links-index
    margin-top -7%
