<!DOCTYPE html>
<html>
<head>
    <title>Authentication page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <h1>Log In:</h1>
    <form method="post">
        <input type="email" placeholder="Your email..." name="email">
        <input type="password" placeholder="Your password..." name="password">
        <input type="submit" value="Log In">
    </form>
    <br>
    <h1>Register:</h1>
    <form method="post">
        <input type="name" placeholder="Your name..." name="name">
        <input type="email" placeholder="Your email..." name="email">
        <input type="password" placeholder="Your password..." name="password">
        <input type="submit" value="Register">
    </form>
    <br><hr><br>
    <a href="/">Home</a>
</body>
</html>