<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
    <link rel="stylesheet" src="styles/main.css">
</head>
<body>
    <div class="container">
        <h1>Hello, <% email %>! This is your home page</h1>
        <a href="/profile">Profile</a>
        <br>
        <hr>
        <% if (tasks && tasks.length > 0) { %>
            <% for(task in tasks) { %>
                <div class="task">
                    <span><% tasks[task] %></span>
                </div>
            <% } %>
        <% } else { %>
            <h3>You don't have any tasks yet.</h3>
        <% } %>
        <hr>
        <% if(user_signed_in) { %>
            <h3>to log out <a href="/logout">click here</a></h3>
        <% } else { %>
            <h3>to sign up <a href="/signup">click here</a>.</h3>
        <% } %>
    </div>
</body>
</html>