<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="container">
        <h1 id="title">Hello, <% email %>! This is your home page</h1>
        <a href="/profile">Profile</a>
        <br>
        <h3 class="new-task-label">Create your task!</h3>

        <% if(taskData && taskData["requestResult"] && typeof taskData["requestResult"] == "object") { %>
            <div class="auth-error">
                <% for(var e in taskData["requestResult"].error) { %>
                    <div><% taskData["requestResult"].error[e] %></div>
                <% } %>
            </div>
        <% } %>
        <div class="task-form" id="new-task">
            <form method="post">
                <input type="text" placeholder="Name of your task..." name="name" value="<% (taskData && taskData.name) ? taskData.name : "" %>">
                <input type="date" name="dueDate" value="<% (taskData && taskData.deadline) ? taskData.deadline : "" %>">
                <textarea placeholder="Description of your task..." rows="3" name="description"><% (taskData && taskData.description) ? taskData.description : "" %></textarea>
                <input type="submit" value="Save" class="submit">
            </form>
        </div>
        <hr>
        <% if (tasks && tasks.length > 0) { %>
            <% for(task in tasks) { %>
                <div class="task">
                    <h3><% tasks[task]['name'] %></h3>
                    <span><% tasks[task]['deadline'] %></span>
                    <p><% tasks[task]['description'] %></p>
                </div>
            <% } %>
        <% } else { %>
            <h3>You don't have any tasks yet.</h3>
        <% } %>
        <hr>
        <% if(user_signed_in) { %>
            <h3>to log out <a href="/logout">click here</a></h3>
        <% } else { %>
            <h3>to sign up <a href="/signup">click here</a>.</h3>
        <% } %>
    </div>
</body>
</html>
