<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="container">
        <h1 id="title">Hello, <% name %></h1>
        <div class="nav">
            <a href="/profile">Profile</a>
            <% if(user_signed_in) { %>
                <a href="/logout">Log Out</a>
            <% } else { %>
                <a href="/signup">Sign Up</a>
            <% } %>
        </div>
        <br>
        <h3 class="new-task-label">Create your task!</h3>

        <% if(taskData && taskData["requestResult"] && typeof taskData["requestResult"] == "object") { %>
            <div class="auth-error">
                <% for(var e in taskData["requestResult"].error) { %>
                    <div><% taskData["requestResult"].error[e] %></div>
                <% } %>
            </div>
        <% } %>
        <div class="task-form" id="new-task">
            <form method="post">
                <input type="text" placeholder="Name of your task..." name="name" value="<% (taskData && taskData.name) ? taskData.name : "" %>" class="form-input">
                <input type="date" name="dueDate" value="<% (taskData && taskData.deadline) ? taskData.deadline : "" %>" class="form-input">
                <textarea placeholder="Description of your task..." rows="3" name="description"><% (taskData && taskData.description) ? taskData.description : "" %></textarea>
                <input type="submit" value="Save" class="submit">
            </form>
        </div>
        <br>
        <div class="task-desk">
            <% if (tasks && tasks.length > 0) { %>
                <% for(task in tasks) { %>
                    <div class="task truncate" id="modal-trigger">
                        <h3 class="truncate-header"><% tasks[task]['name'] %></h3>
                        <% if (new Date(tasks[task]['deadline']) < new Date(new Date().toJSON().slice(0,10))) { %>
                            <span class="pull-right error">
                                <% tasks[task]['deadline'] %>
                            </span>
                        <% } else { %>
                            <span class="pull-right">
                                <% tasks[task]['deadline'] %>
                            </span>
                        <% } %>
                        <p class="truncate"><% tasks[task]['description'] %></p>
                    </div>
                <% } %>
            <% } else { %>
                <h3>You don't have any tasks yet.</h3>
            <% } %>
        </div>
        <hr>
    </div>
</body>
</html>
