<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <h1>Login:</h1>
    <% if(data && data["requestResult"] && typeof data["requestResult"] == "object") { %>
        <div class="auth-error">
            <% for(var e in data["requestResult"].error) { %>
                <div><% data["requestResult"].error[e] %></div>
            <% } %>
        </div>
    <% } %>
    <form method="post">
        <input type="email" placeholder="Your email..." name="email" value=<% (data && data.email) ? data.email : "" %> >
        <input type="password" placeholder="Your password..." name="password">
        <input type="submit" value="Login">
    </form>
    <br><hr><br>
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
</body>
</html>
