<!DOCTYPE html>
<html>
<head>
    <title>Profile page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <h1 id="title"><a href="/">Task Notifier</a></h1>
    <a href="/logout" class="pull-right pull-down-nav-links">Log Out</a>
    <a href="/" class="pull-right pull-down-nav-links">My Tasks</a>
    <br>
    <h4>Notification Settings:</h4>
    <br>
    <% if (time) { %>
    <p>For now you receive your email notifications every day at <% time %>.<br>You can always change it if you wish.</p>
    <% } else { %>
        <p>You should set up the preferred notification time for you below. Otherwise, you'll be getting notifications at 00:00</p>
    <% } %>
    <br>
    <form method="post">
        <h5>At what time you would like to receive email notifications?</h5>
        <% if(data && data['requestResult'] && typeof data["requestResult"] == "object") { %>
            <div class="auth-error">
                <% for(var e in data["requestResult"].error) { %>
                    <div><% data["requestResult"].error[e] %></div>
                <% } %>
            </div>
        <% } else if (data && data['requestResult'] && data['requestResult'] === 'success') { %>
            <h6>Notification time updated successfully</h6>
        <% } else {} %>
        <input type="text" name="time" value=<% time ? time : '' %>>
        <input type="submit" value="Save" class="submit">
    </form>
</body>
</html>
