<!DOCTYPE html>
<html>
<head>
    <title>Profile page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <h1>This is the main page!</h1>
    <a href="/logout" class="pull-right pull-down-nav-links">Log Out</a>
    <a href="/" class="pull-right pull-down-nav-links">My Tasks</a>
    <br>
    <h4>Notification Settings:</h4>
    <br>
    <p>For now you receive your email notifications every day at 17:00.<br>You can always change it if you wish.</p><br>
    <form method="post">
        <h5>At what time you would like to receive email notifications?</h5>
        <input type="time" name="time">
        <input type="submit" value="Save" class="submit">
    </form>
</body>
</html>
