<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a new password</title>
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <h1>Create a new password</h1>
    <br>
    <br>
    <% if(data && data["requestResult"] && typeof data["requestResult"] == "object") { %>
        <div class="auth-error">
            <% for(var e in data["requestResult"].error) { %>
                <div><% data["requestResult"].error[e] %></div>
            <% } %>
        </div>
    <% } %>
    <div class="task-form" id="new-task">
        <form method="post">
            <input type="password" placeholder="Your new password..." name="password">
            <input type="password" placeholder="Confirm your new password..." name="passwordConfirmation">
            <input type="submit" value="Change password" class="submit">
        </form>
    </div>
    <br><hr><br>
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
</body>
</html>
