<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
</head>
<body>
    <div class="container">
        <h1>Register:</h1>
        <% if(data && data["requestResult"] && typeof data["requestResult"] == "object") { %>
            <div class="auth-error">
                <% for(var e in data["requestResult"].error) { %>
                    <div><% data["requestResult"].error[e] %></div>
                <% } %>
            </div>
        <% } %>
        <div class="task-form" id="new-task">
            <form method="post">
                <input type="text" placeholder="Your name..." name="name" value=<% (data && data.name) ? data.name : "" %> >
                <input type="email" placeholder="Your email..." name="email" value=<% (data && data.email) ? data.email : "" %> >
                <input type="password" placeholder="Your password..." name="password">
                <input type="submit" value="Register" class="submit">
            </form>
        </div>
        <br><hr><br>
        <a href="/">Home</a>
        <a href="/login">Login</a>
    </div>
</body>
</html>
